.slide-block-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100vh;
}

.slider-buttons {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: var(--deep-blue);
  cursor: pointer;
}

.slider-buttons:nth-of-type(1) {
  margin-right: 0.5rem;
}

.slider-button-arrows:nth-of-type(1) {
  margin-left: 0;
}

.text-wrapper {
  height: 150px;
  overflow-y: auto;
}

.image-heading {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 1rem;
  margin-bottom: 0;
}

.image-text {
  color: white;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

.additional-info-button {
  color: var(--deep-blue);
  background-color: var(--yellow);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.7rem;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.arrow-right {
  margin-left: 0.5rem;
}

.slider-and-dots-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  margin-top: 1rem;
  overflow: hidden;
}

.slider-wrapper img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 500ms ease;
}

.slide-dots {
  margin-top: 1rem;
}

.slide-dots-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 0.8rem;
  font-size: 0.7rem;
  opacity: 50%;
}

.active-dot {
  opacity: 100%;
}

/* Media queries */
@media only screen and (min-width: 600px) {
  .image-text {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 900px) {
  .slide-block-wrapper {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .text-wrapper {
    height: 250px;
    padding-right: 2.5rem;
  }

  .image-heading {
    font-size: 2.5rem;
  }

  .image-text {
    font-size: 1rem;
    letter-spacing: 0;
  }

  .slide-items {
    width: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .slider-buttons-and-text-wrapper {
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
  }

  .slider-and-dots-wrapper {
    width: 70%;
    align-items: start;
  }

  .slider-wrapper {
    margin-top: 0;
  }

  .slide-dots button {
    font-size: 0.8rem;
  }
}
